@(message: String)

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>EM Tool</title>
  <meta http-equiv="X-UA-Compatible" content="IE=9">

  <!-- Load the Realtime libraries. -->
  <script type="text/javascript"
          src="https://apis.google.com/js/api.js"></script>

  <!-- Load the utility library. -->
  <script type="text/javascript" 
          src="@routes.Assets.at("javascripts/realtime-client-utils.js")"></script> 

  <!-- Load the callbacks required for configuring realtime -->
  <script type="text/javascript" 
          src="@routes.Assets.at("javascripts/realtime-callbacks.js")"></script>                 

  <!-- Load the configuration options that activates realtime -->
  <script type="text/javascript" 
          src="@routes.Assets.at("javascripts/realtime-conf.js")"></script>         
  
</head>

<!-- Start Realtime when the body has loaded. -->
<body onLoad='startRealtime()'>

  <button id="authorizeButton" disabled>You must authorize</button>

  <p>On clicking on the below button, random 'position' objects are added to the collaborative list. The length of the list is a proof of the collaborative feature.</p>

  <button id="addPos" >Add Pos</button>
  
</body>
</html>